{% extends 'main/base.html' %}
{% load mediapath %}
{% block content %}
<div class="container">
    <h1>Главная страница</h1>
    <p>Количество рассылок всего: {{ total_sendings }}</p>
    <p>Количество активных рассылок: {{ active_sendings }}</p>
    <p>Количество уникальных клиентов для рассылок: {{ unique_customers }}</p>

    <h2>Случайные статьи из блога</h2>
    <ul>
        {% for post in random_blog_posts %}
        <li><a href="{% url 'blog:post_detail' post.pk %}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

    <a href="{% url 'skychimp:sending_list' %}" class="btn btn-primary">Просмотр списка рассылок</a>
    <a href="{% url 'skychimp:sending_report' %}" class="btn btn-secondary">Отчет проведенных рассылок</a>
    <a href="{% url 'skychimp:sending_create' %}" class="btn btn-success">Создание рассылки</a>
</div>
{% endblock %}